__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
.env/

target/
*.class
*.jar
*.war
.idea/
*.iml
.vscode/

.Rproj.user
.Rhistory
.RData
.Ruserdata

node_modules/
npm-debug.log*

.DS_Store
